<div class="container jumbotron">
    <h2>Welcome add a project below or click a link of a project</h2>
</div>
<form action="/" method="post">
  <div class="form-container">
    <label for="title">Title of Project</label>
    <input type="text" name="title" class="form-control">
  </div>
  <button type="submit" name="btn btn primary">Add</button>
</form>
