Rename project by typing a new title for it below, the current title is: <%= @the_project.title %>
<br>
<form action="/project/<%= @the_project.id %>/edit" method="post">
  <div class="form-group">
    <label for="title" class="form-label">Title of Project</label>
    <input type="text" name="title" class="form-control" id="name" placeholder="project name">
    <button type="submit" class="btn btn-primary">Update Project</button>
  </div>
</form>

<a href="/">Home</a>
